:root {
	color-scheme: dark light;
	font-family: sans-serif;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

/* nav */

nav {
	align-items: center;
	display: flex;
	gap: 1rem;
	height: 3.5rem;
	justify-content: flex-end;
	padding: 0 1rem;
	width: 100%;
}

nav a {
	color: currentColor;
	text-decoration: none;
}

nav a:hover,
nav [slot='open']:hover {
	color: dodgerblue;
}

nav a,
nav [slot='open'] {
	align-items: center;
	display: flex;
	font-size: 1rem;
}

nav [slot='open'] {
	background: unset;
	border: 0;
	gap: 1rem;
	padding: 0;
}

nav [slot='open'] cuick-icon {
	width: 1.5rem;
}

nav [slot='close'] {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
}

nav > cuick-dialog {
	--dialog-border-radius: 0;
	--dialog-padding: 0;
	--dialog-width: 12rem;
	margin-right: auto;
}

nav > cuick-dialog:not(:defined) {
	display: none;
}

/* sidebar */

cuick-sidebar {
	display: block;
	height: 100%;
	padding: 1rem 0;
}

body > cuick-sidebar {
	display: none;
}

/* desktop */

@media (min-width: 1024px) {
	body > cuick-sidebar {
		display: block;
		left: 0;
		position: fixed;
		top: 0;
		width: 12rem;
	}

	nav,
	main {
		margin-left: 12rem;
		width: calc(100% - 12rem);
	}

	nav > cuick-dialog {
		display: none;
	}
}

/* app */

cuick-app {
	display: block;
	margin: 0 auto;
	max-width: 80ch;
	padding: 0 1rem 3rem;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	margin: 1rem 0;
}

h1 {
	font-size: 3rem;
}

h1,
h2 {
	margin-top: 2rem;
}

a,
p,
ol,
ul,
code {
	line-height: 2;
}

a {
	color: inherit;
	text-decoration-color: dodgerblue;
}

ul {
	list-style: none;
	padding: 0 0 0 1em;
}

ul li::before {
	background: #e8423d;
	content: '';
	display: inline-block;
	height: 0.33rem;
	left: -0.5em;
	position: relative;
	top: -0.2em;
	transform: skewX(-12deg);
	width: 0.38em;
}

.logo,
h1,
.angled {
	font-family: 'Cairo Play', sans-serif;
	line-height: 1;
}

/* logo */

cuick-sidebar .logo {
	font-size: 2rem;
	padding: 0 1rem 2rem;
}

a.logo {
	color: inherit;
	display: block;
	text-decoration: none;
}

a.logo:visited {
	color: inherit;
}

a.logo:hover {
	color: dodgerblue;
}

/* home */

.angled {
	color: inherit;
	font-size: 1.1rem;
	text-decoration-color: #e8423d;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}

.angled:hover {
	color: inherit;
	text-decoration-color: #e8423d;
	text-decoration-thickness: 2px;
	text-underline-offset: 1px;
}

.angled + .angled {
	margin-left: 0.5rem;
}
